body, html{
                margin:0;
                padding:0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
         -khtml-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
        -webkit-text-size-adjust: none;
            }
            img{
                border:0;
                outline:none;
            }
            
            #outer-wrapper{
                width:100%;
                max-width:750px;
                margin:0 auto;
            }
            .home #inner-wrapper{
                width:100%;
                max-width:440px;
                margin:100px auto;
                position:relative;
                z-index:1;
            }
            #inner-wrapper{
                padding:0 10px;
                position:relative;
                z-index:1;
            }
            
            #background{
                position:absolute;
                top:0;
                left:0;
            }
            #top{
                margin-bottom: 20px;
            }
            #logo{
                position:relative;
                float:left;
                top:auto;
                left:auto;
                margin:40px 40px 0 0;
                width:113px;
                height:35px;
                background-image: url(/images/logo.png);
                background-size: 113px 35px;
            }
            #logo a{
                text-indent: -999px;
                display: block;
                line-height: 30px;
            }
                .home #logo{
                    position:absolute;
                    top:200px;
                    left:45%;
                }
            #nav{
                position:relative;
                overflow:hidden;
            }
            #nav li, #nav ul{
                list-style:none;
            }
            #nav ul{
                position:relative;
                margin:32px auto;
                padding:0;
                text-align:center;
            }
                .home #nav ul{
                    margin:60px 0 0 0;
                }
            #nav li{
                float:left;
                padding:5px;
                margin:0 10px 0 0;
                line-height: 40px;
            }
                #home #nav li{
                    background-color:white;
                }
            #nav li a{
                color:#888;
                text-decoration:none;
                font-family:helvetica;
                font-weight:bold;
                font-size:12px;
            }
            #circles{
                position:absolute;
                top:0;
            }
            #boy{cursor:pointer;width:110px; margin:30px 0 0 40px;}
            #byline{
                font-family: helvetica;
                font-size: 14px;
                text-align: center;
                color: #666;
                text-transform: lowercase;
                font-weight: bold;
                display:none;
            }
            #instructions{
                position:fixed;
                bottom:0;
                width:100%;
                height:30%;
                background-color:#f06;
                font-family:helvetica;
                text-align:center;
                line-height: 30px;
                color:white;
            }
            #contact-button{float:right;margin-right:10px;display:none;}
            
            .title{
               border-top:2px solid #eee;
               border-bottom:2px solid #eee;
            }
            h1{
                border-top: 1px dotted #CCC;
                border-bottom: 1px dotted #CCC;
                margin: 1px 0;
                line-height: 40px;
                padding: 6px 0 2px 0; /* center text nicely */
                color: #CCC;
                font-family: helvetica;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: normal;
            }
            #content p{
                color:#666;
                font-family:georgia;
                font-size:16px;
                font-weight:normal;
            }
            
            .info{
                
            }    
            
/* hide mobile */
#mobile-home-nav{
    display: none;
}
/* mobile homepage buttons  */  

.mb {
        padding: .6em 15px;
        float:left;
	border: 1px solid #ccc;
        
	background-color: #eee;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.6)), color-stop(0.49, rgba(255, 255, 255, 0.3)), color-stop(0.51, rgba(255, 255, 255, 0.0)), to(rgba(255, 255, 255, 0.2)));
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%);
        background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%);
        background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%);
        background-image: linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
.mb a {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
        font-weight: bold;
	color: #444;
	text-shadow: 0 1px 1px #fff;
} 
.mb:hover{
        background-color: #ccc;
}
.mb:active {
        border: 1px solid #f06;
	background-color: #f06;
}
.mb:active a{
        color:white;
        text-shadow: none;
}
.mb-right {
   -moz-border-radius-topright: 	.5em;
-webkit-border-top-right-radius: 	.5em;
	border-top-right-radius: 	.5em;
   -moz-border-radius-bottomright: 	.5em;
-webkit-border-bottom-right-radius:     .5em;
	border-bottom-right-radius: 	.5em;
        border-left:0;
}
.mb-right:active{
        margin-left:-1px;
}
.mb-left {
   -moz-border-radius-topleft: 		.5em;
-webkit-border-top-left-radius: 	.5em;
	border-top-left-radius: 	.5em;
   -moz-border-radius-bottomleft: 	.5em;
-webkit-border-bottom-left-radius: 	.5em;
	border-bottom-left-radius: 	.5em;
        border-right:0;
}
.mb-left:active{
        margin-right:-1px;
}
        
/* end mobile homepage buttons  */           
            
/* mobile phones */

/* landscape */
@media screen and (max-width: 599px) {
    #mobile-home-nav, #banner_mobile_wrapper,
    #byline
    { display: block; }
    
    #mobile-home-nav{
        max-width: 280px;
        margin: 0 auto;
    }
    
    .home #outer-wrapper{
        margin:0;
    }
    .home #inner-wrapper{
        width:auto;
        margin:20px auto;
    }
    .home #banner_mobile_wrapper,
    #top, #nav,
    #instructions, #instructions .inst{
        display:none;
    }
/*    .home #instructions{
        height:35px;
        bottom:0;
        display:block;
        position:absolute;
    }*/
/*    #background{
        display:none;
    }*/
    .home #background{
        display:block;
    }
    .home #logo{
       position: relative;
        top: auto;
        left: auto;
        width: 113px;
        height: 35px;
        margin: 0 auto 10px auto;
        float: none;
    }
    #boy{margin:20px auto;}
}
/* portrait */
@media screen and (max-width: 320px){
    #instructions .inst, 
    #contact{
        display:none;
    }
    #contact-button{
        display:block;
    }
    #logo{
      
    }
    
}
/*  retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2), /* bug fix */
only screen and (   -moz-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)
{
    
}