body, html{
                margin:0;
                padding:0;
/*        -webkit-touch-callout: none;
        -webkit-user-select: none;
         -khtml-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;*/
        -webkit-tap-highlight-color:rgba(0,0,0,0);
        -webkit-text-size-adjust: none;
                font-size: 1em;
                line-height: 1.4;
                font-family: georgia;
            }
            .home{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
         -khtml-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
            }
            img{
                border:0;
                outline:none;
            }
            ::selection {
/*            background: #4F90CC; blue */
                background:#f06; /* pink */
                color: white;
                text-shadow: none;
            }
            
            #outer-wrapper{
                width:100%;
                max-width:750px;
                margin:0 auto;
            }
            .home #inner-wrapper{
                width:100%;
                max-width:440px;
                margin:100px auto;
                position:relative;
                z-index:1;
            }
            #inner-wrapper{
                padding:0 10px;
                position:relative;
                z-index:1;
            }
            
            #background{
                position:absolute;
                top:0;
                left:0;
            }
            #top{
                margin-bottom: 20px;
            }
            #logo{
                position:relative;
                float:left;
                top:auto;
                left:auto;
                margin:40px 40px 0 0;
                width:113px;
                height:35px;
                background-image: url(/images/logo.png);
                background-size: 113px 35px;
            }
            #logo a{
                text-indent: -999px;
                display: block;
                line-height: 30px;
            }
                .home #logo{
                    position:absolute;
                    top:170px;
                    left:45%;
                }
            #nav{
                position:relative;
/*                overflow:hidden;*/
                float: left;
            }
            #nav li, #nav ul{
                list-style:none;
            }
            #nav ul{
                position:relative;
                margin:32px auto;
                padding:0;
                text-align:center;
            }
                .home #nav ul{
                    margin:60px 0 0 0;
                }
            #nav li{
                float:left;
                padding:5px;
                margin:0 10px 0 0;
                line-height: 40px;
            }
                #home #nav li{
                    background-color:white;
                }
            #nav li a{
                color:#888;
                text-decoration:none;
                font-family:helvetica;
                font-weight:bold;
                font-size:12px;
            }
            #dropdown{
                position:absolute;
                display:none;
                z-index:100;
                margin-left: -7px;
            }
            #nav li:hover #dropdown{
                display:block;
            }
            #circles{
                position:absolute;
                top:0;
            }
            #boy{cursor:pointer;width:110px; margin:30px 0 0 40px;}
            #byline{
                font-family: helvetica;
                font-size: 14px;
                text-align: center;
                color: #666;
                text-transform: lowercase;
                font-weight: bold;
                display:none;
            }
            #instructions{
                position:fixed;
                bottom:0;
                width:100%;
                height:30%;
                background-color:#f06;
                font-family:helvetica;
                text-align:center;
                line-height: 30px;
                color:white;
            }
            #contact-button{float:right;margin-right:10px;display:none;}
            
            .title{
               border-top:2px solid #eee;
               border-bottom:2px solid #eee;
            }
            h1, h2{
                border-top: 1px dotted #CCC;
                border-bottom: 1px dotted #CCC;
                margin: 1px 0;
                line-height: 30px;
                padding: 6px 0 2px 0; /* center text nicely */
                color: #444;
                font-family: helvetica;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: normal;
            }
            .title a{
                color:#444;
                text-decoration: none;
            }
            #content p{
                color:#666;
                font-family:georgia;
                font-size:16px;
                font-weight:normal;
            }
            #content{
                clear: both;
                position: relative;
/*                height: 1000px;*/
                overflow:hidden;
/*                height: 197px;*/ /* set with js based on panel height */
        -webkit-transition: all .5s ease;
           -moz-transition: all .5s ease;
             -o-transition: all .5s ease;
                transition: all .5s ease;
                
                padding-top: 20px;
            }
            #inner-content{
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
        -webkit-transition: all .5s ease;
           -moz-transition: all .5s ease;
             -o-transition: all .5s ease;
                transition: all .5s ease;
        -webkit-transform-style: preserve-3d;
           -moz-transform-style: preserve-3d;
             -o-transform-style: preserve-3d;
                transform-style: preserve-3d;
            }
                .main-panel, .sub-panel{
                    display: block;
/*                    height: 100%;*/ /* set with js */
                    width: 100%;
/*                    position: absolute;*/ /* set with js */
                    z-index: 1;
                 }
                .sub-panel {
                    background-color: #fff;
                    left: 100%;
                    padding-bottom:20px;
                   }
                   
                   /* slide to make sub-section visible: */
            #inner-content.open {
               
        -webkit-transform: translate3d(-100%,0,0);
           -moz-transform: translate3d(-100%,0,0);
             -o-transform: translate3d(-100%,0,0);
                transform: translate3d(-100%,0,0);
            }
            #inner-content.openAndroid{
                right:100%;
            }
 
            
#content .testimonials a{
    color: #111;
    text-decoration:none;
}
#content .testimonials a:hover{
    text-decoration:underline;
}
#content .testimonials p {
    margin-bottom: 20px;
    font-family: tahoma, sans-serif;
    font-size: 14px;
    line-height: 30px;
}
#content .testimonials p:before{
    content: url(../images/quote-left.png);
}
#content .testimonials p:after{
    content: url(../images/quote-right.png);
}
#content .testimonials p:nth-child(even){
    margin-left:50px;
}
#content .pink{color:#f06} 
#content .large{font-size:1.2em}
#content .larger{font-size:1.4em}
#content .largest{font-size:1.8em}
.sub-panel ul{
    padding: 0 100px 0 40px;
    margin:0;
}
.sub-panel li{
    padding: 0 0 5px 5px;
    margin:0;
    list-style-image: url(../images/pinkDot.png);
}
.listTitle{
    

}
/* main-panel .mp */
.mp-ul, .mp-li{
    list-style: none;
    padding:0;
    margin:0;
}
.mp-li{
    padding:10px 20px 10px 0;
    background-image: url(/images/arrow-rt.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 12px 17px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}
.mp-li:hover{
    
}
.mp-li:hover a{
    text-decoration: underline;
}
.mp-li a{
    font-family: helvetica;
    color:#444;
    text-decoration: none;
    display:block;
}
/* hide mobile */
#mobile-home-nav{
    display: none;
}
/* mobile homepage buttons  */  

.mb {
        padding: .6em 15px .4em;
        float:left;
	border: 1px solid #ccc;
        
	background-color: #eee;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.6)), color-stop(0.49, rgba(255, 255, 255, 0.3)), color-stop(0.51, rgba(255, 255, 255, 0.0)), to(rgba(255, 255, 255, 0.2)));
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%);
        background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%);
        background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%);
        background-image: linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
.mb a {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
        font-weight: bold;
	color: #444;
	text-shadow: 0 1px 1px #fff;
} 
.mb:hover{
        background-color: #ccc;
}
.mb:active {
        border: 1px solid #f06;
	background-color: #f06;
}
.mb:active a{
        color:white;
        text-shadow: none;
}
.mb-right {
   -moz-border-radius-topright: 	.5em;
-webkit-border-top-right-radius: 	.5em;
	border-top-right-radius: 	.5em;
   -moz-border-radius-bottomright: 	.5em;
-webkit-border-bottom-right-radius:     .5em;
	border-bottom-right-radius: 	.5em;
        border-left:0;
}
.mb-right:active{
        margin-left:-1px;
}
.mb-left {
   -moz-border-radius-topleft: 		.5em;
-webkit-border-top-left-radius: 	.5em;
	border-top-left-radius: 	.5em;
   -moz-border-radius-bottomleft: 	.5em;
-webkit-border-bottom-left-radius: 	.5em;
	border-bottom-left-radius: 	.5em;
        border-right:0;
}
.mb-left:active{
        margin-right:-1px;
}
.mb-single{
    
-webkit-border-radius:  .5em;
   -moz-border-radius:  .5em;
        border-radius:  .5em;
}   
/* end mobile homepage buttons  */           
            
/* mobile phones */

/* landscape */
@media screen and (max-width: 599px) {
    #mobile-home-nav, #mobile_banner_wrapper,
    #byline
    { display: block; }
    
    #mobile-home-nav{
        max-width: 280px;
        margin: 0 auto;
    }
    
    .home #outer-wrapper{
        margin:0;
    }
    .home #inner-wrapper{
        width:auto;
        margin:20px auto;
    }
    .home #mobile_banner_wrapper,
    #top, #nav,
    #instructions, #instructions .inst{
        display:none;
    }
/*    .home #instructions{
        height:35px;
        bottom:0;
        display:block;
        position:absolute;
    }*/
/*    #background{
        display:none;
    }*/
    .home #background{
        display:block;
    }
    .home #logo{
        position: relative;
        top: auto;
        left: auto;
        width: 113px;
        height: 35px;
        margin: 0 auto 10px auto;
        float: none;
    }
    .mb_logo{
        background-image: url(/images/logo.png);
        background-repeat: no-repeat;
        background-size: 95px 30px;
        height: 50px;
        background-position: 50%;
    }
    .sub-panel ul{
        padding: 0 0 0 20px;
    }
    #boy{margin:20px auto;}
    #content{
        padding-top: 0;
    }
}
/* portrait */
@media screen and (max-width: 320px){
    #instructions .inst, 
    #contact{
        display:none;
    }
    #contact-button{
        display:block;
    }
    
    
}
/*  retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2), /* bug fix */
only screen and (   -moz-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)
{
    
}