
    #mobile_banner_wrapper{
        display:none;
        z-index: 100;
        position: relative;
        margin-bottom:10px;
    }
    
    #mobile_banner{
        position: relative;
        margin-left:-3px; /*  removes the drop shadow gap */
        padding: 6px 8px 10px 12px;    
        height: 55px;
        z-index: 100;
        
        border-bottom:1px solid #bbb;

        background-color: #ddd;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.6)), color-stop(0.49, rgba(255, 255, 255, 0.3)), color-stop(0.51, rgba(255, 255, 255, 0.0)), to(rgba(255, 255, 255, 0.2)));
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%);
        background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%);
        background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%);
        background-image: linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.0) 51%, rgba(255, 255, 255, 0.2) 100%);


-webkit-box-shadow:2px 2px 2px rgba(50, 50, 50, .2);
   -moz-box-shadow:2px 2px 2px rgba(50, 50, 50, .2);
        box-shadow:2px 2px 2px rgba(50, 50, 50, .2);
        
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
        
-webkit-text-size-adjust: none;
        font-family: helvetica;
        font-size: 16px;
        line-height: 44px;
        color:#444;
        text-shadow: 1px 1px 1px #f6f6f6;
    }

    .mb_bar{
        overflow:hidden;
-webkit-tap-highlight-color: rgba(0,0,0,0); 
    }
    .mb_bar-left, .mb_bar-center{
        float:left;
    }
    .mb_bar-center{
        margin-left: 10px;
        text-align: center;
        width: 65%;
        display: inline;
    }
    .mb_logo{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        -moz-binding: url('ellipsis.xml#ellipsis');
        display: block;
        float:none;
    }
    .mb_bar-right{
        float:right;
    }

    #mb_menu_btn{
       
    }
   
    .mb_btn, .mb_btn_disabled{
        border:1px solid #aaa;
        background-color: #ddd;
-webkit-border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px white;
        
        width:40px;
        height:40px;
        
        text-align: center;
        font-size: 14px;
        font-weight:bold;

-webkit-tap-highlight-color: rgba(0,0,0,0); 


    }
    .mb_btn.open{
        -webkit-box-shadow: inset 0 1px 1px #aaa;
        background-color: #cdcdcd;
        text-shadow: 0 0 1px #fff;
        line-height: 24px;
    }
    
    .mb_icon{
        float:left;
        margin-top: -5px;
        margin-right: 5px;
    }
    
    
    .mb_menu_icon{
/*        width:72px;*/
    }
    .mb_menu_icon:before{
        content:'\2261';
        font-weight:100;
        font-family:arial;
        font-size:22px;
        line-height:42px;
    }
/*    .mb_menu_icon:after{
        content: 'Sections';
        line-height: 42px;
        vertical-align: top;
        padding-left:3px;
    }*/
    .mb_back_icon:before{
/*        content: '\2039';*/
        content: '\25C0';
        font-weight:500;
        font-family:arial;
        font-size: 15px;
        line-height: 37px;
    }
/*    .mb_back_icon:after{
        content: 'Back';
        line-height: 42px;
        vertical-align: top;
        padding-left:5px;
    }*/

    .mb_search_icon{
        margin-left:7px;
    }
    .mb_search_icon:before{
/*        content:url(/images/search-icon.png);*/
    }

            #mb_search_outer{
                background-color: #eee;
                display:block;
                overflow: hidden;
                padding:0;
                height:0;
        -webkit-transition: all .5s ease;
           -moz-transition: all .5s ease;
             -o-transition: all .5s ease;
                transition: all .5s ease;
            }
            #mb_search_outer.open, 
            #mb_nav_outer.openAndroid{
                height:50px;
                border-bottom: 1px solid #AAA;
            }

            .mb_search_inner{
                padding:10px;
            }
    
            #mb_search_outer #site-search{
        -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
           -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
                box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
                background-color: white;
                border: 1px solid #BBB;
                
        -webkit-border-radius:3px;
           -moz-border-radius:3px;
                border-radius:3px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;

                width:100%;
                padding: 16px 10px;
                display: block;
                font-size: 14px;
        -webkit-appearance: none;
            }
            #site-search-submit{
                display:none;
            }
            
            /* sections */
            
            #mb_nav_outer{
                position: relative;
                height: 0;
                overflow:hidden;
        -webkit-transition: all .5s ease;
           -moz-transition: all .5s ease;
             -o-transition: all .5s ease;
                transition: all .5s ease;
            }
            #mb_nav_outer.open, 
            #mb_nav_outer.openAndroid{
                height: 370px;
                border-bottom: 1px solid #AAA;
            }
            #mb_nav_inner {
                display:block;
                width: 100%;
                height: 100%;
                position: absolute;
        -webkit-transition: all .5s ease;
           -moz-transition: all .5s ease;
             -o-transition: all .5s ease;
                transition: all .5s ease;
        -webkit-transform-style: preserve-3d;
           -moz-transform-style: preserve-3d;
             -o-transform-style: preserve-3d;
                transform-style: preserve-3d;
            }
            /* slide to make sub-section visible: */
            #mb_nav_inner.open {
               
        -webkit-transform: translate3d(-100%,0,0);
           -moz-transform: translate3d(-100%,0,0);
             -o-transform: translate3d(-100%,0,0);
                transform: translate3d(-100%,0,0);
            }
            #mb_nav_inner.openAndroid{
                right:100%;
            }
            
            .mb_nav_main, .mb_nav_sub{
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                z-index:1;
            }
            .mb_nav_main {
                background-color: #EEE;
                -webkit-tap-highlight-color: rgba(0,0,0,0); 
            }

            .mb_nav_sub {
                background-color:#999;
                left:100%;
/*                z-index:10000;*/
            }

            .mb_main_left_ul, .mb_main_right_ul{
                float:left;
                width:50%;
                padding:0;
                margin:0;
                list-style: none;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            .mb_main_right_ul{
                border-left:1px solid #ccc;
                height: 100%;
                }

        #mb_nav_inner .mb_sli, #mb_nav_inner .mb_csli{
            border-bottom:1px solid #ccc;
            
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding:10px;
            display:block;

        }
        #mb_nav_inner .mb_sli + .mb_sli, #mb_nav_inner .mb_csli + .mb_csli{
            border-top:1px solid #fff;
        }
        
        
        #mb_nav_inner .mb_sli:hover, #mb_nav_inner .mb_csli:hover,
        #mb_nav_inner .mb_sli:active, #mb_nav_inner .mb_csli:active{
    /*        border-top:1px solid #333;*/
            background-color: #333;
        }


        #mb_nav_inner .mb_sli .mb_slia, #mb_nav_inner .mb_csli .mb_cslia{
            color:#555;
            font-family: helvetica;
            text-decoration: none;
            font-size: 15px;
            font-weight:bold;
            text-shadow: 1px 1px 1px #fff;
            display:block;
            -webkit-tap-highlight-color: rgba(0,0,0,0); 
        }
        #mb_nav_inner .mb_sli:hover .mb_slia, #mb_nav_inner .mb_csli:hover .mb_cslia,
        #mb_nav_inner .mb_sli:active .mb_slia, #mb_nav_inner .mb_csli:active .mb_cslia{
            color: #fff;
            text-shadow: none;
        }
        .sections-loading{
                text-align: center;
                padding: 50px;
                color: #555;
                font-weight: bold;  
            }
    /*    sub-section nav => ssul, ssli, sslia */
            .mb_sub_ul{
                display:block;
                position:absolute;
                background-color:#999;
                height:100%;
                width:100%;
                margin:0;
                padding:0;
                list-style: none;
            }
            .mb_ssli{
                float: left;
                display:block;
                margin: 0;

                list-style: none;
                width: 50%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
                border-bottom: 1px solid #aaa;
            }
            #mobile_banner_wrapper .mb_sslia{
                color:white;
                display: block;
                text-decoration: none;
                padding: 10px 15px;
                font-weight:bold;
                font-family:helvetica;
            }
            .mb_ssli.even{
                clear:left;
            }
            .mb_ssli.even a{
                border-right:1px solid #aaa;
            }
            .mb_ssli.odd{
            }
            .mb_sslia:hover,
            .mb_sslia:active{
                background-color:#444;
            }
        
            .mb_slide_btn a{
                background-image: url(/images/arrow-rt.png);
                background-position: 100% 50%;
                background-repeat: no-repeat;
                background-size: 12px 17px;
                cursor: pointer;
/*                float: right;
                width: 44px;
                height: 41px;
                display: inline-block;
                background-color: #eee;
                background-image:url(/images/arrow-rt.png);
                background-position:50%;
                background-repeat:no-repeat;
                background-size:12px 17px;
                margin-top: -31px;
                margin-right:-10px;
                
                border-left:1px solid #ddd;*/
            }
            .mb_slide_btn:hover,
            .mb_slide_btn:active{
                background-color:#444;
/*                background-position: 100% -41px;*/
            }