
    #banner_mobile_wrapper{
        display:block;
        z-index: 100;
        position: relative;
        margin-bottom:10px;
    }
    
    #banner_mobile{
        position: relative;
        margin-left:-3px; /*  removes the drop shadow gap */
        padding: 6px 8px 10px 12px;    
        height: 55px;
        z-index: 100;
        
/*        border-top:1px solid #444;*/
        border-bottom:1px solid #bbb;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(80%,rgba(255,255,255,1)), color-stop(100%,rgba(242, 242, 242, 1)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 80%,rgba(242, 242, 242, 1) 100%);
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 80%,rgba(242, 242, 242, 1) 100%);
-webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, .1);
   -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, .1);
        box-shadow:3px 3px 3px rgba(0, 0, 0, .1);
        
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
-webkit-text-size-adjust: none;
        
        font-family: helvetica;
        font-size: 16px;
        line-height: 42px;
        color:#787878;
        text-shadow: 1px 1px 1px #f6f6f6;
    }

    .bm_bar{
        overflow:hidden;
-webkit-tap-highlight-color: rgba(0,0,0,0); 
    }
    .bm_bar-left, .bm_bar-center{
        float:left;
    }
    .bm_bar-center{
        margin-left: 10px;
        text-align: center;
        width: 65%;
        display: inline;
    }
    .bm_logo{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        -moz-binding: url('ellipsis.xml#ellipsis');
        display: block;
        float:none;
    }
    .bm_bar-right{
        float:right;
    }
/*    .bm_bar > div > div{
        float:left;
    }*/
    #bm_menu_btn{
       
    }
/*    .bm_btn{
        background-color: #5091cd;  
        background-image: -webkit-gradient(linear, left top, left bottom, from(#5091cd), to(#447fb6));
        background-image: -webkit-linear-gradient(top, #5091cd, #447fb6);
        background-image: -moz-linear-gradient(top, #5091cd, #447fb6);
        background-image: -o-linear-gradient(top, #5091cd, #447fb6);
        background-image: -ms-linear-gradient(top, #5091cd, #447fb6);
        background-image: linear-gradient(top, #5091cd, #447fb6);
-webkit-border-radius: 4px;
   -moz-border-radius: 4px;
        border-radius: 4px;
        
        width:40px;
        height:40px;
        
        
        text-align: center;
        font-size: 14px;
        text-shadow: none;
        color:white;
        font-weight:bold;
-webkit-tap-highlight-color: rgba(0,0,0,0); 
    }
    .bm_btn.open{
        background-image: -webkit-gradient(linear, left top, left bottom, from(#447fb6), to(#5091cd));
        background-image: -webkit-linear-gradient(top, #447fb6, #5091cd);
        background-image: -moz-linear-gradient(top, #447fb6, #5091cd);
        background-image: -o-linear-gradient(top, #447fb6, #5091cd);
        background-image: -ms-linear-gradient(top, #447fb6, #5091cd);
        background-image: linear-gradient(top, #447fb6, #5091cd);
    }*/
    
    
    .bm_btn{
        border:1px solid #aaa;
        background-color: #ddd;
-webkit-border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px white;
        
        width:40px;
        height:40px;
        
        text-align: center;
        font-size: 14px;
        font-weight:bold;

-webkit-tap-highlight-color: rgba(0,0,0,0); 


    }
    .bm_btn.open{
        -webkit-box-shadow: inset 0 1px 1px #aaa;
        background-color: #cdcdcd;
        text-shadow: 0 0 1px #fff;
        line-height: 24px;
    }
    
    
    
    
    .bm_menu_icon{
/*        width:72px;*/
    }
    .bm_menu_icon:before{
        content:'\2261';
        font-weight:100;
        font-family:arial;
        font-size:22px;
        line-height:42px;
    }
/*    .bm_menu_icon:after{
        content: 'Sections';
        line-height: 42px;
        vertical-align: top;
        padding-left:3px;
    }*/
    .bm_back_icon:before{
/*        content: '\2039';*/
        content: '\25C0';
        font-weight:500;
        font-family:arial;
        font-size: 15px;
        line-height: 37px;
    }
/*    .bm_back_icon:after{
        content: 'Back';
        line-height: 42px;
        vertical-align: top;
        padding-left:5px;
    }*/

    .bm_search_icon{
        margin-left:7px;
    }
    .bm_search_icon:before{
/*        content:url(/images/search-icon.png);*/
    }
/*    .adv-display_name.mobile, .adv-weather_location.mobile{
            font-size:13px;
            white-space:nowrap;
            float:left;
            margin:0;
            padding:0;
        }

    #banner_mobile_wrapper .adv-logo {
            float: left;
            height: 55px;
            text-indent: -314159px;
            min-width: 55px;
        }
    #banner_mobile_wrapper .adv-logo a{  
            display: block;
            height: 35px;
            min-width: 55px;
            }
    #banner_mobile_wrapper .adv-chooser{
            display: block;
            position: relative;
            float:left;
            font-family: prelo-slab, georgia, serif;
        }
    
    #banner_mobile_wrapper .adv-chooser-title{
            margin-top: 11px;
            float: left;
            font-size: 22px;
            padding: 0 0 3px 8px;
            width:auto;
            position:relative;
            box-sizing: border-box;
        }*/

            #bm_search_outer{
                background-color: #eee;
                display:block;
                overflow: hidden;
                padding:0;
                height:0;
        -webkit-transition: all .5s ease;
           -moz-transition: all .5s ease;
             -o-transition: all .5s ease;
                transition: all .5s ease;
            }
            #bm_search_outer.open, 
            #bm_nav_outer.openAndroid{
                height:50px;
                border-bottom: 1px solid #AAA;
            }

            .bm_search_inner{
                padding:10px;
            }
    
            #bm_search_outer #adv-site-search{
        -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
           -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
                box-shadow: inset 0 0 4px rgba(0, 0, 0, .3);
                background-color: white;
                border: 1px solid #BBB;
                
        -webkit-border-radius:3px;
           -moz-border-radius:3px;
                border-radius:3px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;

                width:100%;
                padding: 16px 10px;
                display: block;
                font-size: 14px;
        -webkit-appearance: none;
            }
            #adv-site-search-submit{
                display:none;
            }
            
            /* sections */
            
            #bm_nav_outer{
                position: relative;
                height: 0;
                overflow:hidden;
        -webkit-transition: all .5s ease;
           -moz-transition: all .5s ease;
             -o-transition: all .5s ease;
                transition: all .5s ease;
            }
            #bm_nav_outer.open, 
            #bm_nav_outer.openAndroid{
                height: 386px;
                border-bottom: 1px solid #AAA;
            }
            #bm_nav_inner {
                display:block;
                width: 100%;
                height: 100%;
                position: absolute;
        -webkit-transition: all .5s ease;
           -moz-transition: all .5s ease;
             -o-transition: all .5s ease;
                transition: all .5s ease;
        -webkit-transform-style: preserve-3d;
           -moz-transform-style: preserve-3d;
             -o-transform-style: preserve-3d;
                transform-style: preserve-3d;
            }
            /* slide to make sub-section visible: */
            #bm_nav_inner.open {
               
        -webkit-transform: translate3d(-100%,0,0);
           -moz-transform: translate3d(-100%,0,0);
             -o-transform: translate3d(-100%,0,0);
                transform: translate3d(-100%,0,0);
            }
            #bm_nav_inner.openAndroid{
                right:100%;
            }
            
            .bm_nav_main, .bm_nav_sub{
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
            }
            .bm_nav_main {
                background-color: #EEE;
                -webkit-tap-highlight-color: rgba(0,0,0,0); 
            }

            .bm_nav_sub {
                background-color:#999;
                left:100%;
                z-index:10000;
            }

            .bm_sec_nav, .bm_class_nav{
                float:left;
                width:50%;
                padding:0;
                margin:0;
                list-style: none;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            .bm_class_nav{
                border-left:1px solid #aaa;
                }

        #bm_nav_inner .bm_sli, #bm_nav_inner .bm_csli{
            border-bottom:1px solid #ccc;
            
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding:10px;
            display:block;

        }
        #bm_nav_inner .bm_sli + .bm_sli, #bm_nav_inner .bm_csli + .bm_csli{
            border-top:1px solid #fff;
        }
        
        
        #bm_nav_inner .bm_sli:active, #bm_nav_inner .bm_csli:active{
    /*        border-top:1px solid #333;*/
            background-color: #333;
        }


        #bm_nav_inner .bm_sli .bm_slia, #bm_nav_inner .bm_csli .bm_cslia{
            color:#555;
            font-family: helvetica;
            text-decoration: none;
            font-size: 15px;
            font-weight:bold;
            text-shadow: 1px 1px 1px #fff;
            display:block;
            -webkit-tap-highlight-color: rgba(0,0,0,0); 
        }

        #bm_nav_inner .bm_sli:active .bm_slia, #bm_nav_inner .bm_csli:active .bm_cslia{
            color: #fff;
            text-shadow: none;
        }
        .sections-loading{
                text-align: center;
                padding: 50px;
                color: #555;
                font-weight: bold;  
            }
    /*    sub-section nav => ssul, ssli, sslia */
        .bm_ssul{
                display:block;
                position:absolute;
                background-color:#999;
                height:100%;
                width:100%;
                margin:0;
                padding:0;
                list-style: none;
            }
            .bm_ssli{
                float: left;
                display:block;
                margin: 0;

                list-style: none;
                width: 50%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
                border-bottom: 1px solid #aaa;
            }
            #banner_mobile_wrapper .bm_sslia{
                color:white;
                display: block;
                text-decoration: none;
                padding: 10px 15px;
                font-weight:bold;
            }
            .bm_ssli.even{
                clear:left;
            }
            .bm_ssli.even a{
                border-right:1px solid #aaa;
            }
            .bm_ssli.odd{
            }
            .bm_sslia:active{
                background-color:#444;
            }
        
            .bm_slide_btn{
                float: right;
                width: 44px;
                height: 41px;
                display: inline-block;
                background: #eee url(/images/plus.png) 100% 0 no-repeat; 
                margin-top: -31px;
                margin-right:-10px;
                cursor: pointer;
                border-left:1px solid #ddd;
            }
            .bm_slide_btn:active{
                background-color:#444;
                background-position: 100% -41px;
            }
            
            