/* ---- profoundworks.com ---- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, ul.menu, li.leaf,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; background: none;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}

body {line-height: 1;}

ol, ul {list-style: none;}

ul.menu, ul.menu *, ul li.leaf, ul li.collapsed, .item-list ul, .item-list ul li {list-style-image: none; list-style-type: none; margin: 0; padding: 0;}

blockquote, q {quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}

table {border-collapse: collapse; border-spacing: 0;}

/* ---- Main text styles ---- */

body {font-family:Georgia, "Times New Roman", Times, serif; font-size: 15px; line-height:20px; background:url(http://www.profoundworks.com/awm/themes/profound/images/top-bg.jpg) top center no-repeat #e5d9cf; color:#403d3a;}
/*#body-inner {background:url(images/top-bg.png) top center repeat-x; height:159px;}*/
h1, h2, h3, h4, h5 {font-weight: bold; padding-bottom:10px;}
h2 {font-size:35px; line-height:35px;}
p {padding-bottom: 1em;}
a {color:#682321; text-decoration:none;}
a:hover {text-decoration:underline;}
strong {font-weight:bold;}

/* ---- Page layout ---- */

.logo {position:relative; z-index:100; padding:56px 0 0 0; float:left;}

.main-menu {position:absolute; padding:10px 0 0 0; width:981px;}
.main-menu li {float:left;}
.main-menu li a {display:block; margin:0 26px 0 0; padding:20px 26px 20px 0; color:#403d3a; text-transform:uppercase; text-decoration:none; font-size:15px; border-right:1px dotted #403d3a;}
.main-menu li a:hover {color:#488d9d;}

#wrapper, #header, #wrapper-front {margin: 0 auto; width: 981px;}
#wrapper {overflow:hidden; padding-top:25px;}
#wrapper-front {overflow:hidden;}
#top-row {height:255px; margin: 0 auto; width: 981px;}

#header ul {list-style: none; text-align: right;}
#header li {display: inline-block; padding-left: 6px;}
#header li a {color: #fff; text-decoration: none; font-weight: bold;}
#header li a:hover {text-decoration: underline;}

/* ---- Header Slideshow ---- */
#block-views-header-slideshow-block h2 {display:none;}
#block-views-header-slideshow-block .content {padding:0;}
#header-text {background:url(http://www.profoundworks.com/awm/themes/profound/images/header-text-bg.png) repeat-x center center; padding:40px 10px 40px 27px; position:relative; color:#e5d9cf; margin-top:-104px; font-size:55px;}

/* ---- Top Blocks ---- */
#block-block-1 {float:right; text-transform:uppercase; size:15px; padding:20px 0 0 0;}
#block-block-1 img{vertical-align: top;}

#block-block-2 {float:right; padding: 85px 0 0 0;}
#block-block-2 p {font-size:35px; color:#e5d9cf;}

/* ---- End Top Blocks ---- */

#block-block-3 {color:#e5d9cf; background:#488d9d; margin-bottom:30px;}
#block-block-3 h2 {background:#403d3a; padding:18px 0 18px 20px}
#block-block-3 p {padding-left:20px; padding-top:10px;}

#block-block-4 {color:#e5d9cf; background:#488d9d;}
#block-block-4 h2 {background:#403d3a; padding:18px 0 18px 20px}
#block-block-4 p {padding-left:20px; padding-top:10px; padding-right:20px;}

#block-block-5 {color:#e5d9cf; background:#488d9d;}
#block-block-5 h2 {background:#403d3a; padding:18px 0 18px 20px}
#block-block-5 p {padding-left:20px; padding-top:10px; padding-right:20px;}
#block-block-5 a {text-decoration:underline; color:#e5d9cf;}
#block-block-5 a:hover {text-decoration:none;}

#block-block-6 {color:#e5d9cf;}
#block-block-6 p {padding-top:38px;}
#block-block-6 a {text-decoration:underline; color:#e5d9cf;}
#block-block-6 a:hover {text-decoration:none;}

#views_slideshow_controls_text_header_slideshow-block {margin-top:-391px; position:relative; z-index:80;}
#views_slideshow_controls_text_header_slideshow-block a:focus {outline:none;}
#views_slideshow_controls_text_pause_header_slideshow-block {display:none;}
#views_slideshow_controls_text_previous_header_slideshow-block {float:left; background:url(http://www.profoundworks.com/awm/themes/profound/images/previous.png) no-repeat center center; width:53px; height:391px; margin-left:20px; text-indent:-9999px;}
#views_slideshow_controls_text_previous_header_slideshow-block:hover {background:url(http://www.profoundworks.com/awm/themes/profound/images/previous-a.png) no-repeat center center;}
#views_slideshow_controls_text_next_header_slideshow-block {float:right; background:url(http://www.profoundworks.com/awm/themes/profound/images/next.png) no-repeat center center; width:53px; height:391px; margin-right:20px; text-indent:-9999px;}
#views_slideshow_controls_text_next_header_slideshow-block:hover {background:url(http://www.profoundworks.com/awm/themes/profound/images/next-a.png) no-repeat center center;}
/* ---- Header Slideshow End ---- */

/* ---- Home Content Blocks ---- */
#block-views-home-content-blocks-block-1 {float:left; width:309px; text-align:center; margin-right:27px;}
#block-views-home-content-blocks-block-1 h2 {font-size:35px; padding:20px 0;}

#block-views-home-content-blocks-block-2 {float:left; width:309px; text-align:center; margin-right:27px;}
#block-views-home-content-blocks-block-2 h2 {font-size:35px; padding:20px 0;}

#block-views-home-content-blocks-block-3 {float:right; width:309px; text-align:center;}
#block-views-home-content-blocks-block-3 h2 {font-size:35px; padding:20px 0;}
/* ---- End Home Content Blocks ---- */

#block-menu-menu-about-menu {background:url(http://www.profoundworks.com/awm/themes/profound/images/rt-menu-bg.gif) no-repeat right top;}

#content {width: 67%; float: left;}
#content .region, #content h1, #sidebar .region {padding:0;}
#content-front {width: 100%; float: left; border-top:1px dotted #403d3a; margin-top:19px;}
#first-time {display:none;}

.node {padding-bottom:20px;}

#sidebar {width:27%; float:right; background:url(http://www.profoundworks.com/awm/themes/profound/images/sidebar-bg.gif) repeat; padding:10px;}

.form-submit {background:#403d3a; color:#e5d9cf; border:none; height:25px; width:100px;}
.form-submit:hover {background:#682321; color:#e5d9cf;}
.form-item {margin-top:0;}

#footer {text-align:center; background:url(http://www.profoundworks.com/awm/themes/profound/images/footer-bg.jpg) repeat-x; height:100px;}
.masthead{
    height: 165px;
}