@charset "utf-8";
/* CSS Document */



#blueblock{
    border-right: 11px solid #306700;
    border-left: 10px solid #306700;

    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
    background-color: #90bade;
}
#blueblock ul li {
    font-size: 11px;
    color: #333;
    width:194px;
    text-align:center;
    margin: 0;
    display:block;
    float:left;
}

/* To get the li width for number of menu items, divide 777 by number of items and floor the quotient.
    Example: [777 / 5] = 155
*/

#blueblock.numOfMenus5 ul li{
    width:155px;
}
#blueblock.numOfMenus4 ul li{
    width:194px;
}
#blueblock.numOfMenus3 ul li{
    width:259px;
}

#blueblock ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #693;
    height: 24px;
}

#blueblock li + li {
    border-left: 1px solid #99cc66;
}

#blueblock li a{
    display: block;
    background-color: #669933;
    color: #fff;
    text-decoration: none;
    padding: 5px 5px;
}

html>body #blueblock li a{ /*Non IE6 width*/
    width: auto;
}

#blueblock li a:hover{
    background-color: #336600;
    color: #fff;
}
